<style>
    .f-footer{
        display: flex;
        justify-content: space-around;
        
        text-align: center;
        
        
    }
    .f-footer-info a{
        text-decoration: none;
        color: black;
    }
    .f-footer-info a:hover{
        text-decoration: underline;
    }
    
</style>
<footer class="f-info">

    <div class="f-footer mt-3">
        <div class="f-footer-info">
            <p><a href="/">Support</a></p>
            <a href="/"><p>Help Centre</p></a>
            <a href="/"><p>Get help with a safety issue</p></a>
            <a href="/"><p>AirCover</p></a>
        </div>
        <div class="f-footer-info">
            <a href="/"><p>Anti-discrimination</p></a>
            <a href="/"><p>Disability support</p></a>
            <a href="/"><p>Cancellation options</p></a>
            <a href="/"><p>Report neighbourhood concern</p></a>
        </div>
        <div class="f-footer-info">
            <p><a href="/">Support</a></p>
            <a href="/"><p>Help Centre</p></a>
            <a href="/"><p>Get help with a safety issue</p></a>
            <a href="/"><p>AirCover</p></a>
        </div>
        
    </div>
    <div class="mt-3 mb-3" >
        <div class="f-info-social">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-logo">
            &copy; Wanderlust private limited
        </div>
        <div class="f-info-links">
            <a href="/terms">Terms</a>
            <a href="/conditions">conditions</a>
        </div>
    </div>
    
</footer>
