<%layout("./Layout/boilerplate.ejs")-%>
<div class="row">
    <div class="alert alert-danger d-flex align-items-center mt-3 col-sm-3 offset-sm-1 col-md-10 offset-md-1 col-lg-6 offset-lg-3" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
         error from the client side occure 
        <h4 class="alert-heading"><%=message%></h4>
    </div>
    
</div>
  