<% layout("./Layout/boilerplate.ejs")-%>

<div class="row">
    <div class="col-sm-4 offset-sm-1 col-md-10 offset-md-1 col-lg-6 offset-lg-3">
        <h2>Login to WanderLust</h2>
      <form action="/login" method="post" class="needs-validation" novalidate>
        <div class="mt-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" id="username" class="form-control" required>
            <div class="invalid-feedback">enter correct username</div>
        </div>
        <div class="mt-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" id="password" class="form-control" required>
            <div class="invalid-feedback">enter correct password</div>
        </div>
        <button class="mt-3 btn btn-success">Login</button>
        
      </form>
    </div>
</div>